
h1 ,h2 {
    font-family:  "Alexandria", sans-serif;
    color: #333;
    margin-bottom: 20px;
}
.about-us-description{
    font-size: 18px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
}