.hero{
    width: 100%;
    height: 500px;
    
    
}
.text-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 200px;
}
.description{
    font-size: 26px;
}